// by importing bootstrap css as scss files, scss will merge them,
// thus requiring only one css file instead of 3. this helps performance by
// reducing the number of HTTP requests
@import "bootstrap.min.scss";
@import "bootstrap-responsive.min.scss";

@mixin carbonfiber {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

@mixin button-background {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.alert {
    ul {
        margin-bottom: 0;
    }
}

.navbar {
    margin-bottom: 1em;

    .navbar-inner {
        @include carbonfiber;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        .brand {
            padding-top: 0.75em;
        }
        .nav {
            li {
                a {   
                    padding-top: 1em;
                    padding-bottom: 1em;
                }
            }
        }
    }
}

.test-description {
    li {
        margin: 0 0 0.5em 0;
    }
    .test-description-details {
        margin-top: 0.5em;
    }
}

.login-form {
    margin-top: 2em;
}

.test-filter-pills {
    width: 395px;
}

.clickable-element {
    cursor: pointer;
}

.form-actions {
    padding-left: 0;
    padding-right: 0;
}

.test-list {
    .test-list-item {
        margin-bottom: 1.5em;

        &.test-failing {
            .test-list-item-inner {
                @extend .btn-danger;
            }
        }

        &.test-passing {
            .test-list-item-inner {
                @extend .btn-success;
            }
        }

        .test-list-item-inner {
            @extend .btn;
            display: block;
            text-align: left;
            border: 1px solid #ccc;
            padding: 1em 2.5em;
            border-radius: 0.5em;

            h4 {
                margin: 0;
            }

            .last-run {
                margin-top: 1em;
            }

            &:hover {
               background-position: 0 -150px;
              -webkit-transition: background-position 0.5s linear;
                 -moz-transition: background-position 0.5s linear;
                   -o-transition: background-position 0.5s linear;
                      transition: background-position 0.5s linear;
            }
        }
    }
}

#test-form {
    #autorun-field {
        padding-top: 2em;
    }
}