body {
  padding-top: 50px;
}

.alert {
  ul {
    margin-bottom: 0;
  }
}

.dropdown-menu {
  &.logged-out {
    li {
      padding: 1em;
    }
  }
}

.test-description {
  li {
    margin: 0 0 0.5em 0;
  }
  .test-description-details {
    margin-top: 0.5em;
  }
}